*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
input, button{
    outline: none;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}