<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BipanakoGhar</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
</head>

<body>
    <div class="navigation">
        <nav class="navi">
            <label class="branding">Bipanako<span>Ghar</span></label>
            <ul>
                <li>
                    <a href="#">Explore</a>
                </li>
                <li>
                    <a href="#">Upload</a>
                </li>
                <li>
                    <a href="#"><i class="fa-solid fa-circle-user fa-xl" style="color: #f6f7f9;"></i></a>
                </li>
            </ul>
        </nav>

        <div class="search-box">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem minus officiis recusandae soluta. Sequi, magni minus. Aliquam aperiam unde similique omnis explicabo eveniet doloribus ad asperiores numquam, quod recusandae ipsam?</p>
        </div>
    </div>

    <div class="main-photo">
        <p></p>


    </div>

</body>

</html>